.titulo-produtos{
    display: flex;
    align-items: center;
    align-items:start;
}

.titulo-produtos span{
    color: #21e004;
    margin-left: 2em !important;
    font-size: 2em;
}

.icone{
    width: 50px;
    overflow: hidden;
}
.icone img{
    width: 50px;
    object-fit: cover;
}

.box-cards-products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    padding: 1.5em;
    margin-bottom: 5em !important;
}
.card-product{
    max-width: 250px;
    width: 250px;
    border: 1px  solid #c2c2c23a;
    border-radius: 1em;
    box-shadow: 0px 0px 15px #21e00421;
}

.img-product{
    width: 250px;
    max-width: 250px;
    height: 200px;
    overflow:hidden;
    margin-bottom: 0.5em !important;
}
.img-product img{
    width: 99%;
    height: 100%;
    object-fit:cover;
    border-radius: 1em;
}

.description-product{
    padding: 1em;
}

.description-product > p, h3{
    margin-bottom: 1em !important;
}

.description-product > p{
    line-height: 1.3em;
}
.box-cards-products  span{
    color: #283625;
    font-weight: bold;
    font-size: 1em;
}

.button-add{
    padding: 0.8em 2em;
    border-radius: 0.8em;
    border: none;
    background-color: #21e0042c;
    color: #283625;
    font-weight: bold;
    margin-left: 2em !important;
}
.button-add:hover{
    background-color: #21e004;
    color: white;
    transition: 300ms;
}