.box-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em !important;
    flex-wrap: wrap-reverse;
    background-color: #21e00450;
    
}

.imagem-descripition > img{
    width: 400px;
    border-radius: 50% 0.5em;
}

.description{
    max-width: 600px;
    width: 600px;
    padding: 1em;
    border-radius: 0.8em;
}

.description > h2{
    font-size: 2em;
    margin-bottom: 1em !important;
    color: #08841a ;
}

.description p{
    line-height: 1.5em;
}

.color-card-1{
    background-color: #21e00450;
}

.color-card-2{
    background-color: white;
}

.img-card-2{
    width: 400px; 
    border-radius: 50%; 
}
